* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body {
    font-family: sans-serif;
    background-color: rgb(57, 72, 103);
  }
   /* Hide scrollbar for Chrome, Safari, and Opera */
   ::-webkit-scrollbar {
    width: 0.5em;
    background-color: transparent;
  }
  /* Hide scrollbar for IE, Edge, and Firefox */
  ::-webkit-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(33, 42, 62, 0.9);
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(33, 42, 62, 0.9);
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(155, 164, 181);
  }
  /*Navigation bar*/
  nav {
    background: rgb(33, 42, 62, 0.9);
    padding: 5px 20px;
    position: fixed; top: 0; left: 0; width: 100%;
    z-index: 100;
  }
  ul {
    list-style-type: none;
  }
  a {
    color: rgb(241, 246, 249);
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  .logo a:hover {
    text-decoration: none;
  }
  .menu li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
  }
  .logo a,
  .toggle a {
    font-size: 20px;
  }
  .button.secondary {
    border-bottom: 1px #444 solid;
  }
  /* Mobile menu */
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .toggle {
    order: 1;
  }
  .item.button {
    order: 2;
  }
  .item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
  }
  .item.active {
    display: block;
  }
  /* Navbar Toggle */
  .toggle {
    cursor:pointer;
  }
  .bars {
    background: #999;
    display: inline-block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  .bars:before,
  .bars:after {
    background: #999;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  .bars:before {
    top: 5px;
  }
  .bars:after {
    top: -5px;
  }
  /*login menu*/
  .log {
    background: url('imagini/wood1.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 140vh;
    color: black;
  }
  .login-container {
    max-width: 50vh;
    max-height: 50vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    position: relative;
    background-color: transparent;
    border: 0
  }
  .login-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  .login-container input[type="text"],
  .login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  .login-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: teal;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  .login-container input[type="submit"]:hover {
    background-color: #006d6d;
  }
  /*Sign up menu*/
  .sign {
    background: url('imagini/black.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 140vh;
    color: rgb(241, 246, 249);
  }
  .signup-container {
    max-width: 50vh;
    max-height: 50vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    position: relative;
    background-color: transparent;
  }
  .signup-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  .signup-container input[type="text"],
  .signup-container input[type="email"],
  .signup-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  .signup-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: teal;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  .signup-container input[type="submit"]:hover {
    background-color: #006d6d;
  }
  /*Main page*/
  .home {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('imagini/main-img.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #ffffff;
  }
  .overlay {
    background-color: rgb(155, 164, 181, 0.1);
    padding: 20px;
    border-radius: 5px;
  }
  .overlay h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  .overlay p {
    text-align: center;
  }
  /*Despre noi*/
  .us {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('imagini/brick5.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200vh;
    color:  rgb(241, 246, 249);
  }
  .overlay1 {
    max-width: 100vh;
    max-height: 140vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    position: relative;
    background-color: rgb(0, 0, 0, 0.5);
  }
  .overlay1 h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  .overlay1 h2, p {
    text-align: center;
  }
  /*Proiectele noastre*/
  .ours {
    margin: 0;
    padding: 0 35px;
    font-family: Arial, sans-serif;
    background: url('imagini/piatra.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110vh;
    color: rgb(241, 246, 249);
  }
/* Slideshow container */
.slideshow-container {
  max-width: 40vh;
  padding-top: 100px;
  padding-bottom: 25px;
  position: relative;
  margin: auto;
}
/* Hide the images by default */
.mySlides {
  display: none;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
  /*Proiectul tău*/
  .your {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('imagini/gresie.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color:  rgb(241, 246, 249);
  }
  /*Contact*/
  .contact {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('imagini/gresie3.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 140vh;
    color:  rgb(255, 255, 255);
  }
  .container {
    max-width: 100vh;
    max-height: 140vh;
    padding-top: 10vh;
  }
  h1 {
    text-align: center;
    margin-bottom: 15px;
  }
  h2 {
    margin-top: 40px;
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 10px;
  }
  .contact-info {
    list-style: none;
    padding: 0;
  }
  .contact-info li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .contact-info i {
    margin-right: 10px;
  }
  .social-links {
    list-style: none;
    padding: 0;
    margin-top: 10px;
  }
  .social-links li {
    display: inline-block;
    margin-right: 10px;
  }
  .social-links a{
    font-size: 1.1rem;
    transition: color .7s ease;
  }
  .social-links a:hover{
    color: teal;
}
  form {
    margin-top: 40px;
  }
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  button[type="submit"] {
    background-color: teal;
    color:  rgb(241, 246, 249);
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  button[type="submit"]:hover {
    background-color: #006d6d;
  }
  /*FOOTER*/
  .footer {
    background-color: rgb(33, 42, 62, 0.8);
    color:  rgb(241, 246, 249);
    padding: 10px;
    text-align: center;
    position: relative; bottom: 0; left: 0; width: 100%;
    z-index: 100;
  }
  /*Mobile*/
  @media all and (min-width: 320px) {
    .log {
      height: 130vh;
    }
    .sign {
      height: 130vh;
    }
    .us {
    height: 180vh;
   }
   .contact {
    height: 140vh;
   }
   .container {
    padding-top: 20vh;
   }
}
  /* Bigger phones and smaller tablets */
  @media all and (min-width: 468px) {
    .menu {
        justify-content: center;
    }
    .logo {
        flex: 1;
    }
    .item.button {
        width: auto;
        order: 1;
        display: block;
    }
    .toggle {
        order: 2;
    }
    .button.secondary {
        border: 0;
    }
    .button a {
        padding: 7.5px 15px;
        background: teal;
        border: 1px #006d6d solid;
        border-radius:50em;
    }
    .button.secondary a {
        background: transparent;    
    }
    .button a:hover {
        text-decoration: none;
        transition:all .25s;
    }
    .button:not(.secondary) a:hover {
        background: #006d6d;
        border-color: #005959;
    }
    .button.secondary a:hover {
        color: #ddd;
    } 
    .gallery-container {
      padding: 100px;
    }
    .gallery-item:hover {
      transform: scale(6);
    }
    .log {
      height: 130vh;
    }
    .sign {
      height: 130vh;
    }
    .us {
      height: 150vh;
      }
    .contact {
      height: 117vh;
       }
  }

  /* Tablets */
  @media all and (min-width: 768px) {
    .item {
        display: block;
        width: auto;
    }
    .toggle {
        display: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
    }
    .button {
        order: 2;
    }
    .menu li {
        padding: 15px 10px;
    }
    .menu li.button {
        padding-right: 0;
    }
    .gallery-container {
      padding: 150px;
    }
    .gallery-item:hover {
      transform: scale(6);
    }
    .container {
      max-width: 80vh;
      padding-top: 100px;
    }
    .log {
      height: 120vh;
    }
    .sign {
      height: 120vh;
    }
    .us {
      height: 130vh;
      }
    .contact {
      height: 116vh;
       }
  }  
  /*Laptops*/
    @media all and (min-width: 1200px) {
    .log {
    height: 110vh;
      }
    .sign {
    height: 110vh;
      }
    .us {
    height: 120vh;
    }
    .contact {
    height: 115vh;
     }
    }
    /*Desktops*/
    @media all and (min-width: 1600px) {
    .log {
      height: 100vh;
      }
    .sign {
      height: 100vh;
      }
    .us {
    height: 110vh;
    }
    .contact {
    height: 110vh;
     }
    }